.profile{
    margin: -2rem 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    animation: 1s cubic-bezier(0.61, 1, 0.88, 1) show;
}

.profile__title{
    font-size: 40px;
    font-weight: 700;
    line-height: 68px;
    text-align: center;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.profile__section{
    padding: 0 5px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(377px, 1fr));
    justify-items: center;
    align-items: center;
    gap: 1rem 1rem;
    margin-bottom: 1rem;
}

.card{
    position: relative;
    /*min-width: 328px;*/
    width: 313px;
    height: 100%;
    background: rgba(179, 158, 146, 0.5);
    border-radius: 34px;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.card__title{
    font-size: 24px;
    font-weight: 700;
    line-height: 40.8px;
    text-align: left;
    margin-bottom: 1rem;
}

.card__body{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
    margin-bottom: 28px;
}

.card__body-item{
    /*display: flex;*/
    /*align-items: center;*/
    margin: 0;
    font-family: "Rounded Mplus", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 35.64px;
    text-align: left;
}

.card__btn{
    display: flex;
    align-items: center;
    gap: 6px;
    position: absolute;
    right: 24px;
    top: 18px;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: 0.5s all;

    font-family: "Rounded Mplus", sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 35.64px;
    text-align: center;
}

.card__btn img{
    transform: translateY(-1px);
    transition: .8s all;
}

.card__btn:hover img{
    transform: translateY(-1px) rotate(360deg);
}

.phone__container{
    display: inline;
}

.phone__input:disabled{
    width: auto;
    display: inline;
    margin: 0;
    font-family: "Rounded Mplus", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 35.64px;
    text-align: left;
    background: transparent;
    border: none;
    color: rgb(0, 0, 0);
    transform: translateY(1px);
}

.actions{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.exit-btn{
    background: transparent;
    border: none;
    cursor: pointer;
    font-family: "Rosting Gapertas", sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.exit-btn:after{
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background: black;
    transform: translateY(-10px) scale(0);
    transition: all 0.5s;
}

.exit-btn:hover:after{
    transform: translateY(-10px) scale(1);
}

.admin-link{
    font-family: "Rosting Gapertas", sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: rgba(109, 98, 85, 1);
    outline: none;
    text-decoration: none;
}

.admin-link:after{
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background: black;
    transform: translateY(-5px) scale(0);
    transition: all 0.5s;
}

.admin-link:hover:after{
    transform: translateY(-5px) scale(1);
}

.profile__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 34px;
    background: rgba(179, 158, 146, 0.5);
    border: none;
    cursor: pointer;
    width: 377px;
    height: 80px;
}

.profile__btn span{
    font-family: 'Rosting Gapertas', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 40.8px;
    text-align: center;
}

@keyframes show {
    0%{
        transform: translateY(3rem);
        opacity: 0;
    }
    100%{
        transform: translateY(0%) scale(1);
        opacity: 1;
    }
}