.order{
    border-radius: 39px;
    border: 1px solid rgba(179, 158, 146, 1);
    overflow: hidden;
    max-width: 1000px
}

.order__inner{
    position: relative;
}

.table{
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
    border-radius: 39px;
}

.table th, .table td{
    border: 1px solid rgba(179, 158, 146, 1);
    background: rgba(228, 216, 208, 1);
    padding: 1rem 3rem;
    font-family: "Rosting Gapertas", sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.arrow-btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -10rem;
}