.chat{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -2rem;
}

.name{
    font-family: "Rosting Gapertas", sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 68px;
    text-align: center;
    padding: 0;
    margin: 0 0 8px 0;
}

.position{
    font-family: "Rosting Gapertas", sans-serif;
    font-size: 10px;
    font-weight: 700;
    line-height: 17px;
    text-align: center;
    color: rgba(109, 98, 85, 1);
    padding: 0;
    margin: 0 0 24px 0;
}

.chat__box{
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    background: rgba(159, 149, 143, 0.4);
    padding: 35px 50px;
    width: calc(100% - 170px);
    height: 60vh;
}

.chat__messages{
    flex: 1;
    padding: 29px 30px;
    overflow: scroll;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
}

.chat__input-container{
    flex-grow: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}