.orders{
    width: 100%;
    margin: 37px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.orders__title{
    font-size: 36px;
    font-weight: 700;
    line-height: 61.2px;
    text-align: center;
}

.orders__actions{
    margin: 1rem auto;
    width: 100%;
    max-width: 990px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.orders__table{
    width: calc(100% - 126px);
    border-radius: 39px;
    border: 1px solid rgba(179, 158, 146, 1);
    overflow: hidden;
}

.table{
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
    border-radius: 39px;
    /*border: 1px solid rgba(179, 158, 146, 1);*/
}

.table th{
    cursor: pointer;
    white-space: nowrap;
    user-select: none;
}

.table th, .table td{
    border: 1px solid rgba(179, 158, 146, 1);
    background: rgba(228, 216, 208, 1);
    padding: 1rem 3rem;
    font-family: "Rosting Gapertas", sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.phone__container{
    display: inline;
}

.phone__container div{
    width: 0;
}

.phone__input:disabled{
    font-family: "Rosting Gapertas", sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    width: auto;
    display: inline;
    margin: 0;
    background: transparent;
    border: none;
    color: rgb(0, 0, 0);
    transform: translateY(1px);
}