.header{
    background: linear-gradient(360deg,#E5D8D0, rgba(229, 216, 208, 0.3) 0%, rgba(109, 100, 95, 0.6) 100%);
}

.header-container{
    padding: 14px 60px 0 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-buttons{
    display: flex;
    gap: 3rem;
    align-items: center;
}

.header__icon-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    transform: translateY(-5px);
}

.logo-btn{
    background: transparent;
    border: none;
    cursor: pointer;
}

.logo-box{
    margin-right: 2rem;
}