.auth-input{
    width: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-bottom: 30px;
}

.auth-input label{
    font-family: "Playfair Display", serif;
    display: block;
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    line-height: 31.99px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

.input{
    font-family: "Playfair Display", serif;
    color: white;
    font-size: 20px;
    font-weight: 700;
    line-height: 31.99px;
    text-align: center;
    width: 90%;
    border: none;
    background: transparent;
    outline: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    transition: all .5s;
}

.phone__container{
    width: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input:focus{
    border-color: #eddddd;
}

.error{
    border-bottom: 1px solid rgba(232, 32, 32, 1);
}