.button{
    display: block;
    margin: 0 auto;
    font-family: "Rosting Gapertas", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 34px;
    text-align: center;
    vertical-align: center;
    padding: 8px 62px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid rgba(133, 122, 110, 1);
    color: rgba(41, 39, 37, 1);
    background: transparent;
    transition: all .5s;
}

.button:hover{
    color: rgba(255, 255, 255, 1);
    background: rgba(180, 169, 163, 1);
}